.col-md-6.col-md-offset-3
  %h2 Resend unlock instructions
  = simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
    = f.error_notification
    = f.full_error :unlock_token
    .form-inputs
      = f.input :email, required: true, autofocus: true
    .row
      .col-sm-6.col-sm-offset-3
        .form-actions
          = f.button :submit, "Resend unlock instructions", class: 'btn btn-success btn-block btn-lg'
  = render "devise/shared/links"
